* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* стилі наведених кнопок */
button {
  cursor: pointer;
  transition: box-shadow 200ms linear;
}

button:hover,
button:focus {
  box-shadow: 0px 10px 10px -6px rgba(107, 30, 0, 0.3);
}

/* стилі головної секції */
.main-page {
  background: linear-gradient(90deg, #FCFEFE 0%, #A5DEFF 100%);
}

.main--wrap {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.main-page--left-side {}

.main-page__logo {
  margin-top: 32px;
  margin-bottom: 60px;
}

.main-page__container {
  border-radius: 40px;
  background: #FFF;
  padding: 60px;
}

.main-page__subtitle {
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 60px;
}

.main-page__title {
  color: #0A0A0A;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 60px;
  /* her 24px */
}

.main-page__text {
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}

.main-page__btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background: #FF6B0A;
  color: #FFF;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-page__img {
  display: block;
}

/* стилі секції фактів */
.facts-page {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 100px;
}

.facts--wrap {
  width: 1170px;
  margin: 0 auto;
}

.facts-page__tryzub {
  margin-bottom: 24px;
}

.facts-page__title {
  margin: 0;
  color: #0A0A0A;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
}

.facts-page__text {
  margin: 32px auto 24px;
  max-width: 772px;
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.facts-page__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.facts-page__item {
  width: 374px;
  list-style-type: none;
  transition: box-shadow 200ms linear;
}

.facts-page__item:hover {
  box-shadow: 0px 0px 10px 3px #A5DEFF;
}

.facts-page__img {
  display: block;
  margin-bottom: 8px;
}

.facts-page__subtitle {
  color: #0A0A0A;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;

  margin-bottom: 32px;
}

.facts-page__descr {
  color: #0A0A0A;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* стилі секції з формою */
.form-page {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(90deg, #FCFEFE 0%, #A5DEFF 100%);
}

.form-page__form {
  width: 573px;
  margin: 0 auto;
  padding: 32px 60px 60px 60px;
  text-align: center;
  border-radius: 40px;
  background: #FFF;
}

.form-page__tryzub {
  margin-bottom: 32px;
}

.form-page__title {
  margin-bottom: 12px;
  color: #0A0A0A;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.form-page__subtitle {
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

/* стилі форми */
.input--wrap {
  text-align: left;
  margin-bottom: 24px;
}

.form-page__label {
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form-page__input {
  width: 453px;
  height: 60px;
  padding: 0 12px;
  margin-top: 8px;

  font-family: inherit;
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  border-radius: 8px;
  border: 1px solid #005BBB;
  background-color: #FFF;
}

.form-page__btn {
  margin-top: 24px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #FF6B0A;
  font-family: inherit;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* стилі гуся */
.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

/* стилі футера */
.footer {
  text-align: center;
  padding: 32px;
}

.footer__container {
  width: 1170px;
  margin: 0 auto;
}

.address {
  margin: 32px auto 0;
  max-width: 772px;
  color: #0A0A0A;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.address__text {}

.address__link {
  color: #0A0A0A;
  text-decoration: none;
  transition: color 200ms linear;
}

.address__link--wrap {
  display: flex;
  flex-direction: column;
}

.footer__list--wrap {
  text-align: center;
}

.footer__list--title {
  margin-bottom: 12px;
  color: #0A0A0A;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer__link {
  color: #0A0A0A;
  text-decoration: none;
  transition: color 200ms linear;
}

.footer__link:hover,
.footer__link:focus,
.address__link:hover,
.address__link:focus {
  color: #FF6B0A;
}